@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Proza+Libre&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* --body-clr: #8880f6; */
    --body-clr: #320061;
    --phonetic-clr: #eb948a;
    --part-of-speech-txt-clr: #56b0c2;
    --part-of-speech-bk-clr: #cef3fb;
    --li-clr : #c4c4c4;

    --section-down-clr:#f2f2f1;

    --span-h-w: 1.7rem;
}

body{
    background-color: var(--body-clr);
    height: 100vh;
    font-family: 'Proza Libre', sans-serif;
    position: relative;
}

/* utilities */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}


hr {
    border: none;
    outline: none;
    padding: 1px;
    background-color: rgba(130, 126, 126, 0.2);
    margin: 1rem 0;
}



/* header */
nav {
    display: flex;
    justify-content: center;
}

nav h1{
    font-size: 32px;
    font-family: 'Proza Libre', sans-serif;
    color: white;
    margin-top: 1rem;
}

/* section-top */

.section-top{
    margin-top: 1.5rem;
}

.search-area {
    display: flex;
    justify-content: center;  
    flex-direction: column;
    border-radius: 20px;
    
    position: relative;

    overflow: hidden;
}

.search-area input{
    padding: 10px 55px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
}

#search-btn,
#clear-btn{
    font-size: 1.5rem;
    color: #929798;
    cursor: pointer;

    padding: 1rem 1rem;
}

#search-btn {
    position: absolute;
    /* top: 10px;
    left: 12px;*/
    top: -6px;
    left: -6px;
} 

#clear-btn{
    position: absolute;
    /* top: 7px;
    right: 12px; */
    top: -10px;
    right: -6px;
    font-size: 30px;
}

#search-btn:hover,#clear-btn:hover{
    color: #333;
    
    background-color: #f2f2f2;

}

#search-btn:active,#clear-btn:active{
    transform: scale(90%);
}



/* section-down */

.section-down{
    background-color: var(--section-down-clr);
    margin-top: 3rem;
    min-height: 100vh;
    border-radius: 30px 30px 0 0;
    padding: .5rem;
    padding-bottom: 4rem;
}

.searched-word-div, .white-box {
    width: 97%;
    margin-top: 0.6rem;
    padding: .5rem 1rem;
    background-color: white;
    border-radius: 22px;
}

.searched-word {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.searched-word h2 {
    font-size: 28px;
}

.speaker{
    font-size: 1.2rem;
    cursor: pointer;
}

.speaker:active{
    transform: scale(90%);
}

.phonetic {
    margin: 1rem 0 0.5rem;
}

/*meaning div*/
.meaning-div {
    width: 98%;
}

.part-of-speech {
    display: inline-block;
    padding: 3px 15px;
    font-weight: bold;
    
    border-radius: 8px;
    margin-top: .5rem;
}

.part-of-speech-noun {
    background-color: #b2ff98;
    color: #144900;
}

.part-of-speech-verb {
    background-color: #75ddf2;
    color: #00596d;
}

.part-of-speech-adjective {
    background-color:  #ffee7d;
    color: rgb(99, 87, 0);
}

.part-of-speech-others {
    background-color:  #ff86ae;
    color: #970032;
}

.meanings{
    margin: 1rem 0 1.5rem;
}

.meaning {
    display: flex;
}

.span-div {
    width: 8%;
    text-align: center;
}

.meaning span{
    background-color: transparent;
    color: rgb(205, 200, 200);
    height: var(--span-h-w);
    width: var(--span-h-w);
    /* margin-right: 2rem; */
    margin-top: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px rgb(206, 211, 212) solid;
    border-radius: 50%;
}


.meaning p{
    font-size: 16px;
    text-transform: none;
    margin-top: 13px;
    width: 85%;
}


.copy-icon{
    opacity: 0%;
    transition: opacity .1s ease;
    cursor: pointer;
    font-size: 1.7rem;
    margin-left: 1rem;

}

.copy-icon:active{
    transform: scale(1.1) translateY(4px); 
    color: #1c7000;
}


.copy-alert {
    text-align: center;
    transition: bottom .4sec ease-in;
}

.copy-alert p{
    color: white;
    background-color: rgb(0, 0, 0);
    display: inline-block;
    padding: 4px 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(64, 64, 64, 0.4);
}




