@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Proza+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-clr: #ffffff;
    --light-gray-clr:#f4f4f4;
    --dark-gray-clr:#757575;
    --accent-clr: #a445ed;
    --light-accent-clr:#e9d1fb;

    /* dark-mode */
    --d-body-clr:#1d2026;
    --d-light-body-clr:#242a31;
    --d-primary-txt-clr:#cccccc;
    --d-secondary-txt-clr:#a9b3b3;



    --span-h-w: 1.7rem;
}



/* ------------------------------ */

body{
    background-color: var(--body-clr);
    /* background-color: var(--d-body-clr); */
    height: 100vh;
    font-family: 'Fira Code', monospace;
    position: relative;
    transition: background-color .1s linear;
}

/* utilities */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}


hr {
    border: none;
    outline: none;
    padding: 1px;
    background-color: var(--dark-gray-clr);
    margin: 1rem 0;
}



/* header */
nav {
    display: flex;
    justify-content: center;
}

/* section-top */

.section-top{
    margin-top: 3rem;
}

.top-icons{
    font-size: 30px;
    color: #9a9a9a;
    
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.toggle-icon {
    /* border: 2px black solid; */
    display: flex;
    align-items: center;
    border-radius: 30% ;
    background-color: var(--light-gray-clr);
/* ill do it later using day and night two class to toggle with js */
    padding: 5px 4px; 
    height: 2rem;
    width: 4rem;

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    
    transition: background-color .1s linear;
}

.toggle-icon .circle{
    background-color: #757575;
    margin-left: 3px;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 12px;
    transition: margin-left .1s;
}



.search-area {
    display: flex;
    justify-content: center;  
    flex-direction: column;

    margin-top: 4rem;
}

input{
    padding: 25px 20px;
    font-size: 16px;
    font-family: 'Fira Code', monospace;
    font-weight: bold;
    text-transform: capitalize;
    
    
    background-color: var(--light-gray-clr);
    color: var(--dark-gray-clr);
    border-radius: 15px;
    border: 3px var(--light-gray-clr) solid;
    outline: none;

    transition: background-color .1s linear,border .1s linear;
}

.search-area input:focus{
    border: 3px #a445ed solid;
}


/* section-down */

.section-down{
    background-color: var(--light-gray-clr);
    margin-top: 3rem;
    min-height: 50vh;
    border-radius: 30px 30px 0 0;
    padding: .5rem;
    padding-bottom: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
    transition: background-color .1s linear;
}

/* ERROR RESPONSE  */
.unexpected-response-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    color: var(--dark-gray-clr);
}

.unexpected-response-div .emoji{
    font-size: 50px;
}

.unexpected-response-div p{
    text-align: center;
}

/* FIRST INTRO */
.first-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    color: var(--dark-gray-clr);
}

.first-intro .dict-icon{
    font-size: 50px;
}

.first-intro .app-name{
    font-weight: bold;
    font-size: 20px;
}

.first-intro .qoute{
    text-align: center;
}


/* endOfIntro */


.searched-word-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phonetic {
    margin: 1rem 0 0.5rem;
    font-size: 24px;
    font-weight: bold;
    color: var(--accent-clr);
}


.searched-word-div, .white-box {
    width: 97%;
    margin-top: 0.6rem;
    padding: .5rem 1rem;
    background-color: white;
    border-radius: 22px;

    
    transition: background-color .1s linear;
}

.searched-word {
    display: flex;
    flex-direction: column;
}

.searched-word h2 {
    font-size: 50px;
}

.speaker{
    font-size: 2rem;
    height: 70px;
    width: 70px;
    background-color: var(--light-accent-clr);
    color: var(--accent-clr);

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

.speaker:active{
    transform: scale(90%);
}


/*meaning div*/
.meaning-div {
    width: 98%;
    transition: background-color .1s linear;
}

.part-of-speech {
    display: inline-block;
    padding: 3px 15px;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    
    border-radius: 8px;
    margin-top: .5rem;
}


.meanings{
    margin: 1rem 0 1.5rem;
    
}

.meaning {
    display: flex;
}

.span-div {
    margin-right: 1rem;
    text-align: center;
}

.meaning span{
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    color: var(--dark-gray-clr);
    height: var(--span-h-w);
    width: var(--span-h-w);
    margin-top: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.meaning p{
    font-size: 16px;
    text-transform: none;
    margin-top: 13px;
    width: 85%;
}


.copy-icon{
    opacity: 0%;
    transition: opacity .1s linear;
    cursor: pointer;
    font-size: 1.7rem;
    margin-left: 1rem;

}

.copy-icon:active{
    transform: scale(1.1) translateY(4px); 
    color: #1c7000;
}

/* FOOTER - github and name*/

footer{
    background-color: var(--light-gray-clr);
    height: 20vh;
    display: flex;
    justify-content: center;
    transition: background-color .1s linear;
}

footer .maker{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;

    
    -webkit-tap-highlight-color: transparent;
}

.github{
    font-size: 40px;
    cursor: pointer;
    /* mix-blend-mode: multiply; */
}

.github:active{
    transform: scale(.8);
}

.github:hover{
    transform: scale(1.1);
}

.maker{
    font-size: 20px;
    letter-spacing: 1px;
    color: var(--dark-gray-clr);
}

.maker .name {
    font-weight: bold;
}


/* DARK MODE - for section down part, darkmode css is in js
               since they were tough to maintain coz of their dynamic nature.
*/
.body-dark-mode{
    background-color: var(--d-body-clr);
    transition: background-color .1s linear;
}

.search-area .input-dark-mode{
    background-color: var(--d-light-body-clr) ; 
    color: var(--d-primary-txt-clr);
    border: 3px var(--d-light-body-clr) solid;
    transition: background-color .1s linear ,border .1s linear;
}

.dark-meaning-container {
    background-color: var(--d-light-body-clr);
    transition: background-color .1s linear;
}

.dark-footer{
    background-color: var(--d-light-body-clr);
    transition: background-color .1s linear;
}

.dark-toggle-cont{
    background-color: var(--d-light-body-clr);
    transition: margin-left .1s,background-color .1s linear;
}

.dark-circle {
    background-color: var(--d-secondary-txt-clr);
}



